@import "../../styles/variables.scss";

.input__container {
  width: 100%;
  padding: 13px 16px;
  border-top: 1px solid $base-color;
  background: rgba($color: $base-color, $alpha: 0.15);

  .input {
    width: 100%;
    height: 100%;
    padding: 9.5px 12px;
    border: 1px solid $base-color;
    border-radius: 6px;
    outline: none;
    color: $text-color;
    font-size: 13px;
    font-weight: 400;
    text-overflow: ellipsis;
    transition: box-shadow 0.3s ease;

    &::-webkit-calendar-picker-indicator {
      visibility: hidden;
    }

    &::placeholder {
      color: $placeholder-color;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    &:focus {
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
      &::placeholder {
        opacity: 0;
      }
    }
  }

  .input__wrapper {
    position: relative;

    .input__file_label {
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
      right: 12px;
      height: 55%;
      outline: none;
      opacity: 0.5;
      transition: opacity 0.4s ease;
      cursor: pointer;

      &:focus,
      &:hover {
        opacity: 0.9;
        transition: opacity 0.4s ease;
      }
    }
    .input__file_img {
      width: 20px;
      height: 20px;
    }

    input[type="file"] {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .input__container {
    padding: 9px 12px;

    .input {
      padding: 7px 8px;
      font-size: 11px;
    }
    .input__wrapper {
      .input__file_label {
        right: 7px;
        height: 50%;

        .input__file_img {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
