@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@400;500&display=swap");
@import "./variables.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  background: $base-color;
  padding: 50px;
}

.container {
  max-width: 437px;
  margin: 0 auto;
  padding: 0;
  background: $background-color;
  border-radius: 4px;

  .input__gif {
    background: $linear-color;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #9933ff;
    font-weight: 600;
  }
}
