@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@400;500&display=swap");
@import "./variables.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  background: var(#{--body-background-default});
  padding: 50px;
  overflow-x: hidden;
}

.container {
  max-width: 437px;
  margin: 0 auto;
  padding: 0;
  background: var(#{--container-color-default});
  border-radius: 4px;
  will-change: transform;
  animation: move 0.4s cubic-bezier(0.6, 0.3, 0.3, 0.8) forwards;

  .input__gif {
    background: var(#{--linear-default});
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #cc99ff;
    font-weight: 600;
  }
}

@media (max-width: 480px) {
  body {
    padding: 20px;
  }
}

@media (max-width: 320px) {
  body {
    padding: 20px;
  }
}
