$base-color: #d3d9de;
$text-color: #000;
$background-color: #fff;
$placeholder-color: #828282;
$thumb-color: #dae2ea;
$time-color: #99a2ad;
$linear-color: linear-gradient(
  to bottom right,
  #2ee6a8 10%,
  #3399ff 20%,
  #9933ff 40%,
  #ff3399 50%
);
