@import "../../styles/variables.scss";

@keyframes move {
  0% {
    transform: translateX(70%);
  }
  15% {
    transform: translateX(5%);
  }
  30% {
    transform: translateX(-5%);
  }
  45% {
    transform: translateX(3%);
  }
  60% {
    transform: translateX(-3%);
  }
  75% {
    transform: translateX(1%);
  }
  85% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(0);
  }
}

.gif__container {
  padding: 22px 16px 0px;

  .scroll__container {
    position: relative;
    width: 100%;
    height: 248px;
    border: 1px solid $base-color;
    border-radius: 1px;
    margin-bottom: 8px;
    padding: 9px 7px 0px 9px;
  }

  // .scroll__container_noborder {
  //   position: relative;
  //   width: 100%;
  //   height: 248px;
  //   border: 1px solid $base-color;
  //   border-radius: 1px;
  //   margin-bottom: 8px;
  //   padding: 9px 7px 0px 9px;
  // }

  .gif__content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      background: $background-color;
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background: $thumb-color;
    }
    .gif__single_container {
      position: absolute;
      bottom: 0;
      left: 0;
      will-change: transform;
      animation: move 0.5s ease-in-out forwards;

      .gif__single {
        position: relative;
      }

      .gif__time {
        position: absolute;
        transform: translateX(100%);
        right: -8px;
        bottom: 0px;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        color: $time-color;
      }
    }
  }
}
